list {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
}

ul,
ol,
li {
    list-style: none;
}

body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1120px;
    padding: 0px 10px;
    margin: 0px auto;
}
.link {
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    color: #D4D6D4;
}

.link svg {
    width: 7px;
    height: 7px;
    transform: translateY(70%);
    fill: currentColor;
}

.link span {
    text-indent: 0.4rem;
    border-bottom: solid 1px currentColor;
}

.link:hover {
    color: #FFD723;
}

/*-----------------HEADER---------------*/
.header {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px 0px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F5F6F7;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 14px 11px 14px 11px;
}

.burger-line {
    display: inline-block;
    width: 100%;
    height: 1.8px;
    background-color: #000;
}

/*----------HERO-SECTION------------*/
.hero {
    min-width: 100%;
    background-image: url(../img/Slider.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 188px 0px 210px 0px;
}

.hero-content {
    max-width: 616px;
}

.subtitle {
    display: inline-block;
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 21px;
    color: #FFF;
}

.hero-title {
    margin-bottom: 24px;
    font-size: 60px;
    font-weight: 600;
    line-height: 123%;
    color: #FFF;
}

.hero-desc {
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 162%;
    color: #FFF;
}

.hero-link {
    color: #FFD723;
}

/*------BENEFITS-SECTION--------*/
.benefits {
    padding: 145px 0px 154px 0px;
    margin-bottom: -181px;
}

.benefits-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 128%;
    color: #4D533C;
    max-width: 607px;
    margin-bottom: 58px;
}

.benefits-list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

@media (max-width: 800px) {
    .benefits {
        padding: 70px 0px 75px 0px;
    }
    .benefits-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0px;
    }
}

@media (max-width: 414px) {
    .benefits-list {
        grid-template-columns: none;
        grid-template-rows: repeat(4, 1fr);
    }
}

.benefits-item {
    display: flex;
    flex-direction: column;
    max-width: 255px;
    padding: 26px 30px 32px 29px;
}

.benefits-item-title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 124%;
    text-transform: uppercase;
}

.benefits-item-desc {
    margin-bottom: 56px;
    font-weight: 400;
    font-size: 14px;
    line-height: 186%;
    color: rgba(33, 56, 66, 0.6);
}

.benefits-item-link {
    margin-top: auto;
    margin-bottom: 0px;
}

/*----------GET-STARTED------------*/
.get-started {
    position: relative;
    top: 181px;
    max-width: 1275px;
    width: 85%;
    background-color: #fafafa;
    padding: 70px 0px;
    position: relative;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}

.get-started-title {
    max-width: 822px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 60px;
    line-height: 123%;
    color: #4D533C;
}
.get-started-link {
    font-weight: 400;
    text-transform: uppercase;
}
/*-------FOOTER-------*/
.footer {
    padding: 310px 0px 30px 0px;
    background-image: url(../img/Bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width: 800px) {
    .footer {
        padding: 250px 0px 30px 0px;
    }

}
.top-footer {
    border-bottom: solid 1px #5D6544;
    padding-bottom: 52px;
}
.footer-contact-title, .footer-column-text {
    display: block;
    color: #B6C197;
    line-height: 250%;
}
.footer-contact-value {
    font-weight: 700;
    line-height: 250%;
    color: #FFFFFF;
    font-style: normal;
}
.footer-column {
    width: 165px;
}
.footer-column-title {
    padding-bottom: 21px;
    font-weight: 600;
    font-size: 16px;
    line-height: 237%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer-mail {
    font-weight: 700;
    font-size: 24px;
    line-height: 158%;
    color: #FFFFFF;
}
.footer-contacts {
    max-width: 452px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-contact-title {
    margin-bottom: 8px;
}

.mid-footer {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 60px 0px;
    border-bottom: solid 1px #5D6544;
}
.mid-left-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-right: solid 1px #5D6544;
}
.mid-right-footer {
    padding-left: 20%;
    max-width: 322px;
}
.mid-right-footer .footer-column-text {
    line-height: 26px;
    padding-bottom: 23px;
}
@media(max-width: 1010px) {
    .mid-left-footer {
        border-right: none;
        border-bottom: solid 1px #5D6544;
    }
    .mid-right-footer {
        padding: 0px;
    }
    .mid-footer {
        padding: 10px 0px;
        grid-template-columns: none;
    }
}
@media(max-width: 515px) {
    .footer-column {
        width: 100%;
    }
    .footer-column-list {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
}
.mid-right-footer .footer-column-text {
    max-width: 270px;;
}
.socials {
    padding-top: 23px;
    max-width: 170px;
    display: flex;
    justify-content: space-between;
}
.icon {
    opacity: 0.3;
    width: 32px;
    height: 32px;
}
.bot-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 24px;
    vertical-align: middle;
}
.copywright {
    font-size: 14px;
    line-height: 150%;
    color: #B5C096;
}
.footer-logo {
    max-width: 200px;
    max-height: 35px;
}
@media (max-width: 440px) {
    .hero-title, .get-started-title {
        font-size: 50px;
    }
    .get-started-title {
        font-size: 45px;
    }
    .footer-mail {
        font-size: 20px;
    }
}