list {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
}

ul,
ol,
li {
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1120px;
    padding: 0px 10px;
    margin: 0px auto;
    border: solid red;
}

@media(max-width: 414px) {
    .container {
        padding: 0px 20px;
    }
}

.link {
    display: inline-flex;
    font-size: 16px;
    font-weight: 700;
    color: #D4D6D4;
}

.link svg {
    width: 7px;
    height: 7px;
    transform: translateY(70%);
    fill: currentColor;
}

.link span {
    text-indent: 0.4rem;
    border-bottom: solid 1px currentColor;
}

.link:hover {
    color: #FFD723;
}

/*-----------------HEADER---------------*/
.header {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px 0px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F5F6F7;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 14px 11px 14px 11px;
}

.burger-line {
    display: inline-block;
    width: 100%;
    height: 1.8px;
    background-color: #000;
}

/*----------HERO-SECTION------------*/
.hero {
    min-width: 100%;
    background-image: url(../img/Slider.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 188px 0px 210px 0px;
}

.hero-content {
    max-width: 616px;
}

.subtitle {
    display: inline-block;
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 21px;
    color: #FFF;
}

.hero-title {
    margin-bottom: 24px;
    font-size: 60px;
    font-weight: 600;
    line-height: 123%;
    color: #FFF;
}

.hero-desc {
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 162%;
    color: #FFF;
}

.hero-link {
    color: #FFD723;
}

/*------BENEFITS-SECTION--------*/
.benefits {
    padding: 145px 0px 155px 0px;
}

.benefits-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 128%;
    color: #4D533C;
    max-width: 607px;
    margin-bottom: 58px;
    ;
}

.benefits-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

@media (max-width: 800px) {
    .benefits-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 414px) {
    .benefits-list {
        grid-template-columns: none;
        grid-template-rows: repeat(4, 1fr);
    }
}

.benefits-item {
    display: flex;
    flex-direction: column;
    max-width: 255px;
    padding: 26px 30px 32px 29px;
}

.benefits-item-title {
    max-width: 183px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 124%;
    text-transform: uppercase;
}

.benefits-item-desc {
    max-width: 194px;
    margin-bottom: 56px;
    font-weight: 400;
    font-size: 14px;
    line-height: 186%;
    color: rgba(33, 56, 66, 0.6);
}

.benefits-item-link {
    margin-top: auto;
    margin-bottom: 0px;
    max-width: 103px;
}